# --- Veritabanı Docker Ayarları ---
# Docker konteyneri için kullanıcı adı (Varsayılan: admin)
POSTGRES_USER=admin

# Docker konteyneri için veritabanı şifresi (Burası kullanıcı tarafından değiştirilmelidir)
POSTGRES_PASSWORD=sifreniz_buraya

# Oluşturulacak veritabanının adı
POSTGRES_DB=mezun_takip

# Mail Ayarları
SMTP_EMAIL=seninmailadresin@gmail.com
SMTP_PASSWORD=buraya_google_dan_aldigin_16_haneli_kod

#Super-Admin ayar
ADMIN_EMAIL=admin@ktun.edu.tr
ADMIN_PASSWORD=adminSifresi
